<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="./assets/image/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li *ngFor="let item of category"><a href="#">{{ item.name }}</a></li>

                        </ul>
                    </div>
                </div> -->
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li *ngFor="let item of category"><a href="#">{{ item.name }}</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sản phẩm đang sale</h2>
                    </div>

                    <div class="row">
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let slide of categories_section_begin">
                                <ng-template carouselSlide [id]="slide.id">
                                    <div class="product__discount__item">

                                        <div class="product__discount__item__pic">

                                            <!-- <img [src]="slide.img_src"> -->
                                            <img [src]="'http://127.0.0.1:8000/storage/image/product/'+slide.images?.[0]?.image" alt="" >

                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                              <li><a  [routerLink]="['/san-pham/',slide.id]"><i class="fa fa-eye"></i></a></li>
                                                <li><a  (click)="addProduct(slide)" ><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>

                                        <!-- <h5><a [routerLink]="['/san-pham/',slide.id]">{{ slide.name }}</a></h5> -->
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a [routerLink]="['/san-pham/',slide.id]">{{ slide.name }}</a></h5>
                                            <div class="product__item__price" style="color: red;">{{ slide.price |currency:'VND'}} <span>{{
                                                    slide.default_price }}</span></div>
                                        </div>
                                    </div>

                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>


                </div>
                <!-- // tiêu đề đoạn sản phẩm  -->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <!-- <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6> Hiện có :<span>{{ count_product }}</span>Sản phẩm</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of all_product| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <!-- <img [src]="item.img_src" alt=""> -->
                                <img [src]="'http://127.0.0.1:8000/storage/image/product/'+item.images?.[0]?.image" alt="" >

                                <ul class="product__item__pic__hover">
                                  <li><a  [routerLink]="['/san-pham/',item.id]"><i class="fa fa-eye"></i></a></li>
                                  <li><a  (click)="addProduct(item)" ><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                                <h5 style="color: red;">{{ item.price |currency:'VND'}} </h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12" style="text-align: center;">
                    <div>
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
                        </pagination-controls>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="filter__found">
                        <h2>Hoa quả</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of product_by_category_1">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img [src]="item.img_src" alt="">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                                <h5 style="color: red;">{{ item.price |currency:'VND'}} </h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="filter__found">
                        <h2>Rau củ</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of product_by_category_2">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img [src]="item.img_src" alt="">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                                <h5 style="color: red;"> {{ item.price |currency:'VND'}} </h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="filter__found">
                        <h2>Đồ uống</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of product_by_category_3">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img [src]="item.img_src" alt="">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                                <h5 style="color: red;">{{ item.price  |currency:'VND'}} </h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="filter__found">
                        <h2>Thức ăn</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of product_by_category_4">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img [src]="item.img_src" alt="">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                                <h5 style="color: red;">{{ item.price |currency:'VND'}} </h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div> -->
            </div>
        </div>
    </div>
</section>
